CompileFlags:
    Compiler: C:\\LLVM\\bin\\clang++.exe
    Add:
        - "-std=c++17"
        - "-DLL_BUILD_WINDOWS_RELEASEOS"
        - "-DDEBUG"
        - "-DNDEBUG"
        - "-D_SECURE_STL=0"
        - "-D_HAS_ITERATOR_DEBUGGING=0"
        - "-DWIN32"
        - "-D_WINDOWS"
        - "-DLL_WINDOWS=1"
        - "-DUNICODE"
        - "-D_UNICODE"
        - "-DWINVER=0x0601"
        - "-D_WIN32_WINNT=0x0601"
        - "-DLL_OS_DRAGDROP_ENABLED=1"
        - "-DLIB_NDOF=1"
        - "-DLL_COMMON_API="
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llappearance"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llaudio"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llcharacter"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llcommon"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llcorehttp"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llcrashlogger"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llfilestystem"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llimage"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llimagej2coj"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llinventory"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llkdu"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llmath"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llmeshoptimizer"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llmessage"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llplugin"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llprimitive"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llrender"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llui"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llwebrtc"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llwindow"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\llxml"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\mac_crash_logger"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\media_plugins"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\newview"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\test"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\tools"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\viewer_components"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\indra\\win_crash_logger"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\build-vc170-64-special\\packages\\include"
        - "-IE:\\dev\\AyaneStorm\\ayanestorm-special\\build-vc170-64-special\\packages\\include\\apr-1"
